/* :::::::::::::::::::::::::::RESETS :::::::::::::::::::::::::::::::::::::::: */
html, body {
	height: 100%;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
  	margin:0; 
	background: rgb(245, 212, 180);
	background: linear-gradient(229deg, 
	rgb(192, 144, 11) 0%, rgba(245, 212, 180) 47%, 
	rgb(231, 189, 75) 65%);
	background-repeat: no-repeat;
    background-attachment: fixed;

}

*, *::before, *::after {
	box-sizing: inherit;
}



* {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.2; 
  margin: 0;
  padding:0;  
}

ul, ol { 
	list-style-type: none;
}
  
img{
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: bottom;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ::::::::::::::::::::::::::::::VARIABLES :::::::::::::::::::::::::::::: */
html{
    --pad-gap:1em; /* paddings and gaps */  
}
	

.hide{
    display: none;
}



.main{
    display: grid;
}


/* :::::::::::::::::::::::HEADER SECTION::::::::::::::::::::::::::: */

.topHeader{
    display: grid;
    
    gap: calc(var(--pad-gap)/2);
    padding: calc(var(--pad-gap)*1.5) var(--pad-gap);
 

    /* border:0.02em solid rgb(70, 194, 146); */
    /* background-color: rgb(197, 218, 17); */
}

.logoWrap{
    display: flex;
    flex:1 1 auto;
    align-items: center;
    justify-content: center;
    gap: calc(var(--pad-gap)/2);

    /* border:0.02em solid rgb(70, 194, 146); */
    /* background-color: rgb(218, 141, 17); */
}

.logo{
    width: 2em;
    height: 2em;

    border:0.02em solid rgb(70, 194, 146);
    background-color: rgb(54, 17, 218);
}


/* .appName{
    display: none;
} */

.topForm{
   display: grid;
    grid-template-columns: 2fr auto;
    /* flex:1 1 auto; */
    gap: calc(var(--pad-gap)/2);

    /* border:0.02em solid rgb(70, 194, 146); */
    /* background-color: rgb(192, 126, 20); */
}

.taskInput{
    /* display: flex;
    flex:1 2 auto;
    flex-shrink: 2;
    flex-grow: 1; */
    padding: calc(var(--pad-gap)/2) var(--pad-gap); 
    /* width: 100% */
}

.addTask{
    /* width: 2em; */
    /* flex-shrink: 1;
    flex-wrap: wrap; */
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::LIST OF TASK SECTION ::::::::::::::::::::::::: */

.rootItem{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    gap: calc(var(--pad-gap)/6);
    
    /* background-color: rgb(255, 255, 255); */
}

.itemContainer{
    display: grid;
    grid-template-columns:  2fr auto;
    padding: var(--pad-gap);
    gap: calc(var(--pad-gap)/2);

    align-items: center;

    /* border:0.02em solid rgb(70, 194, 146); */
    background-color: rgb(221, 129, 25);
}

.checkItem{
    display: flex;
    flex: 0 2 auto;
    gap: calc(var(--pad-gap)/2);
    align-items: center;
    



    /* border:0.02em solid rgb(70, 194, 146); */
    /* background-color: rgb(192, 20, 183);    */
}

.checkbox{
    flex-shrink: 3; 
}

.labelTaskName{
    width: 100%;
    padding: var(--pad-gap);
    flex-shrink: 3;
}

.itemTaskNameChecked{
    color: rgb(255, 255, 255);
    text-decoration: line-through;
}

.itemTaskNameUnchecked{
    color: rgb(0, 0, 0);
}

.itemTaskNameEdit{

    color: rgb(24, 119, 228);
    background-color: rgb(251, 251, 251);
    flex-shrink: 3;
    
}


.editSave, .delete{
    width: 1.2em;
    height: 1.5em;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::MEDIA QUERY ::::::::::::::::::::::::: */

@media screen and (min-width: 30em) {
    .appName{
        display: inline-block;
    }
  }


  @media screen and (min-width: 55em) {

    .topHeader{
        grid-template-columns: auto 2fr;
        padding: calc(var(--pad-gap)*2.5) calc(var(--pad-gap)*6.5);
       
    }

    .logoWrap{
        display: flex;
        flex:1 1 auto;
        align-items: center;
        gap: calc(var(--pad-gap)/2);
    
    }

    .rootItem{
        padding: 0 calc(var(--pad-gap)*6.5);
    }


    .editSave, .delete{
        width: 1.7em;
        height: 2em;
    }
  }
  